[submodule "modules/drashna"]
	path = modules/drashna
	url = https://github.com/drashna/qmk_modules.git
[submodule "modules/eynsai"]
	path = modules/eynsai
	url = https://github.com/eynsai/qmk_modules.git
